.presentation {
    padding: 20px;
    margin-top: 30px;
}
.restaurant {
    padding: 20px;
}
.counter {
    padding: 20px;
}
.counter__number {
    font-family: "Old Standard TT", serif;
    font-size: 60px;
}
.counter__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.fa-arrow-right-long {
    color: #dcdcdc;
    font-size: 22px;
}
.container-fun-facts {
    display: grid;
    grid-template-columns: 30% 60% 10%;
    align-items: center;
}
